<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Resultados de búsqueda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>
    <h1>Registros del paciente con CURP: {{ CURP }}</h1>
    <br>
    <a href="/panel/{{ CURP }}"><button>Ver Panel</button></a>
    <br>
    <a href="/">Volver al inicio</a>

    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Frecuencia</th>
            <th>Temperatura</th>
            <th>Respiración</th>
            <th>Presión</th>
        </tr>
        {% for nombre, fecha, frecuencia, temperatura, respiracion, presion in registros %}
        <tr>
            <td>{{ nombre }}</td>
            <td>{{ fecha }}</td>
            <td>{{ frecuencia }}</td>
            <td>{{ temperatura }}</td>
            <td>{{ respiracion }}</td>
            <td>{{ presion }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
